@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.checkoutdiv{
    background-color: white;
    width: 85%;
    margin: auto;
    height: fit-content;
    padding: 10px;
    margin-bottom: 10px;
}
.heading{
    font: 2rem 'Roboto',serif;
    color: #58595b;
    margin: 0;
    padding: 0;
    text-align: left;
    display: block;
    clear: both;
    padding: 7px 0 10px;
    border-bottom: 1px solid #ccc;
    padding-top: 15px;
}
.checkoutTable{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 40px 25px 16px 25px;
    text-align: left;
    font-size: .9rem;
}
.categoryHeading{
    display: flex;
    background: #dfdfdf;
    margin: 0;
    padding: 5px 1px;
    align-content: center;
}
.categoryHeading a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    color: #444;
    padding-left: 7px;
}

.categoryHeading span{
    font-family: sans-serif;
    font-size: .8rem;
    font-weight: 400;
    color: #888;
    margin-left: 10px;
    display: inline-flex;
    align-items: flex-end;
}

.tableHeading{
    background-color: #555;
    color: white;
    height: 2.6rem;
    display: grid;
    grid-template-columns: .6fr 5.2fr 2fr 2.2fr 2fr 1fr 1.2fr;
    width: 100%;
    text-align: right;
    align-items: center;
}

.listItemDiv{
    display: grid;
    margin: auto;
    grid-template-columns: .6fr 5.2fr 2fr 2.2fr 2fr 1fr 1.2fr;
    width: 100%;
    align-items: center;
    text-align: right;
    font-size: 1rem;
    border-bottom: 1px solid #d9d9d9;
}

.listItemDiv > div{
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quantitydiv{
        border: 1px solid #e0e0e0;
        height: 20px;
        float: right;
        display: flex;
        margin-right: 5rem;
        width: fit-content;
        margin: 0;
        align-self: flex-end;
}

.quantitydiv input::-webkit-outer-spin-button,
.quantitydiv input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantitydiv button{
    width: 16px;
    height: 20px;
    color: #989898;
    border: 0;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.quantitydiv input{
    border: 1px solid #e3e3e3;
    border-top: 0;
    border-bottom: 0;
    width: 24px;
    height: 21px;
    background: #fff;
    color: #000;
    text-align: center;
}

.description{
    text-align: left;
}
.description p:hover{
    color: green;
    cursor: pointer;
}

.saving{
    text-align: center;
    background: #c6cc74;
    color: #000;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.crossSign img{
    width: 10px;
    height: 10px;
    margin: 3px auto;
    display: block;
}

.savings{
    text-align: center;
    color: #be1e2d;
    width: 90px;
    height: 70px;
    text-align: center;
    background: url(https://www.bbassets.com/static/v2531/uiv2/css/images/grid_list_shade.png
    ) repeat-y 0 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.fade{
    font: 400 10px sans-serif;
    color: #888;
    display: inline-block;
    padding-bottom: 0;
}