.paymentDiv > div:first-child > svg {
  margin: 0px;
  margin-bottom: 5px;
  /* margin-top: 20px; */
}
.paymentDiv {
  border: 2px solid rgba(84, 226, 28, 0.2);
  /* border: 2px solid red; */
  /* width: 855px; */
  width: 80%;
  height: 65px;
  margin-top: 50px;
}
.paymentMethods > div:first-child {
  width: 164px;
  place-items: center;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  border: 1px solid rgba(72, 34, 34, 0.2);
}
.paymentMethods {
  display: flex;
  width: auto;
  height: 480px;
}
.paymentMethods > div:nth-child(2) {
  border: 20px solid rgba(154, 251, 58, 0.2);
  width:fit-content;
  width: auto;
  display: flex;
  padding: 10px 30px;
  background-color: #f6f6f6;
}

.paymentMethods > div:first-child > div {
  width: 100%;
  text-align: left;
  border-bottom: 5px solid rgba(128, 216, 45, 0.3);
  padding: 12px;
  width: 164px;
  height: 60px;
  display: flex;
  align-items: center;
}
.paymentMethods > div:first-child > div:hover {
  background-color: #eeeeee;
  /* color: white; */
  font-weight: 800;
  font-family: sans-serif;
  cursor: pointer;
}
.paymentMethods > div:first-child > div > h6 {
  width: 126px;
  height: 15.2px;
  font-size: 15px;
  font-family: ProximaNova, Arial;
}
.mainDiv {
  margin: 10px 0px;
}
.mainDiv input {
  font-size: 18px;
}
.mainDiv > .Order {
  position: absolute;
  right: 150px;
  top: 150px;
}
.mainDiv > .otpcont {
  position: absolute;
  right: 150px;
  top: 700px;
}
.amount > div {
  cursor: pointer;
}

.sangham {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 60px;;
}

.orderSummary {
  border: 20px solid rgba(84, 226, 28, 0.2);
  width: 20%;
  margin-top: 60px;
  height: auto;
  /* marginLeft:" */
}
/* medium screen size */
@media all and (min-width: 490px) and (max-width: 999px) {
  .sangham {
    flex-direction: column;
    align-items: center;
  }
  .orderSummary {
    width: 50%;
   
  }
  .paymentDiv{
    width:90%;
  }
}

@media all and (min-width: 100px) and (max-width: 491px) {
  .sangham {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .orderSummary {
    width: 80%;
  
  }
  .paymentDiv{
    width:90%;
  }
}
